@import '@style/mixins';
@import '@style/variables';
.login-page{
  @include flex-col;
  font-size: 1rem;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;

  .login-box{
    @include flex-col;
    width: 50vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;

  }
}

.login-btn{
  @include flex-center;
  width: 60vw;
  height: 100px;
  background-color: $base-color;
  border: $base-color 1px solid;
  border-radius: 12px;
  font-size: 1.2rem;
  color: #fff;
  &:nth-last-child(1){
    background-color: #fff;
    color: $base-color;
  }

}