// 设置全局scss
@font-face {
  font-family: 'iconfont';  /* Project id 2734372 */
  src: url('//at.alicdn.com/t/font_2734372_9ijm6slo0i8.woff2?t=1630574336134') format('woff2'),
       url('//at.alicdn.com/t/font_2734372_9ijm6slo0i8.woff?t=1630574336134') format('woff'),
       url('//at.alicdn.com/t/font_2734372_9ijm6slo0i8.ttf?t=1630574336134') format('truetype');
}


.iconfont{
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: inherit;
}

page {
  font-size: 32px;
}

.container {
  width: 100vw;
  // min-width: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.icon-wangyi::before{
  content: '\e650';
}

.icon-refresh::before{
  content: '\e7d1';
}

.icon-play-outline::before{
  content: '\e645';
}

.icon-play-media::before{
  content: '\e72c';
}

.icon-play::before{
  content: '\e851';
}

.icon-right::before{
  content: '\e6c3';
}

.icon-microphone::before{
  content: '\e63b';
}

.icon-find-micro::before{
  content: '\e647';
}

.icon-search::before{
  content: '\e61b';
}

.icon-menu::before{
  content: '\e642';
}

.icon-phone::before{
  content: '\e612';
  color: #d14038;
}

.icon-email::before{
  content: '\e678';
  color: #d14038;
}

.icon-password::before {
  content: '\e673';
  color: #d14038;
}



