// 设置全局scss
@font-face {
  font-family: 'iconfont';  /* Project id 2734372 */
  src: url('//at.alicdn.com/t/font_2734372_ulz62f972dg.woff2?t=1630397560685') format('woff2'),
       url('//at.alicdn.com/t/font_2734372_ulz62f972dg.woff?t=1630397560685') format('woff'),
       url('//at.alicdn.com/t/font_2734372_ulz62f972dg.ttf?t=1630397560685') format('truetype');
}

.iconfont{
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: inherit;
}

page {
  font-size: 32px;
}

.container {
  width: 100vw;
  // min-width: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.icon-microphone::before{
  content: '\e63b';
}

.icon-find-micro::before{
  content: '\e647';
}

.icon-search::before{
  content: '\e61b';
}

.icon-menu::before{
  content: '\e642';
}

.icon-phone::before{
  content: '\e612';
  color: #d14038;
}

.icon-email::before{
  content: '\e678';
  color: #d14038;
}

.icon-password::before {
  content: '\e673';
  color: #d14038;
}



